packages:
  yum:
    mod24_ssl : []

container_commands:
  1-install-certbot:
    command: "wget https://dl.eff.org/certbot-auto && chmod a+x certbot-auto"
  2-create-cert:
    command: "sudo ./certbot-auto certonly --debug --non-interactive --email contact@gusp.io --agree-tos --standalone --domains formation.gusp.io --keep-until-expiring"

files:
  "/etc/httpd/conf.d/vhosts.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <VirtualHost *:80>
        RewriteEngine On
        DocumentRoot /var/www/html/public
        ServerName formation.gusp.io
      </VirtualHost>

files:
  "/etc/httpd/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      <IfModule mod_ssl.c>
        <VirtualHost *:443>
          RewriteEngine On
          DocumentRoot /var/www/html/public
          ServerName formation.gusp.io
          SSLCertificateFile /etc/letsencrypt/live/formation.gusp.io/fullchain.pem
          SSLCertificateKeyFile /etc/letsencrypt/live/formation.gusp.io/privkey.pem
          Include /etc/letsencrypt/options-ssl-apache.conf

          SSLCipherSuite        SSLCipherSuite HIGH:!MEDIUM:!aNULL:!MD5:!RC4
          SSLProtocol –ALL +TLSv1.2
          SSLHonorCipherOrder   On
          SSLSessionTickets     Off

          Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
          Header always set X-Frame-Options DENY
          Header always set X-Content-Type-Options nosniff
        </VirtualHost>
      </IfModule>
  