# container_commands:
#   001-set-file-permission-to-644-storage:
#     command: sudo find storage -type d -exec chmod 644 {} \;
#   002-set-file-permission-to-644-bootstrap:
#     command: sudo find bootstrap/cache -type d -exec chmod 644 {} \;
#   003-set-directory-permission-to-755-storage:
#     command: sudo find storage -type f -exec chmod 755 {} \;
#   004-set-directory-permission-to-755-bootstrap:
#     command: sudo find bootstrap/cache -type f -exec chmod 755 {} \;
#   005-give-rights-for-webserver-to-read-and-write-storage-and-cache:
#     command: sudo chgrp -R webapp storage bootstrap/cache
#   006-give-rights-for-webserver-to-read-and-write-storage-and-cache:
#     command: sudo chmod -R ug+rwx storage bootstrap/cache