option_settings:
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

container_commands:
  01-install-npm-dependencies:
    command: sudo npm ci
  02-run-npm:
    command: sudo npm run prod
  03-artisan-migrate:
    command: php artisan migrate --force
  #04-artisan-config-cache:
    #command: php artisan config:clear && php artisan config:cache
  #05-artisan-route-cache:
    #command: php artisan route:cache