commands:
  01-require-nodejs:
    command: curl --silent --location https://rpm.nodesource.com/setup_12.x | sudo bash -
  02-install-nodejs:
    command: yum install nodejs -y
  03-maj-npm:
    command: npm -g install npm

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: NODE_ENV
    value: production